.Dropdown-container {
    background-color:aqua;
    display: flex;
    flex-direction: column;
    width: '';
}

.Dropdown-button {
    font-size: 20;
    color: "yellow";
    flex-direction: column;
}

.Dropdown-button-text {
    font-size: 20;
    color: "yellow";
    flex-direction: column;
}